@{
    ViewData["Title"] = "Home Page";
}







<picture>
    <source type="image/svg+xml">
    <img src="https://lh5.googleusercontent.com/proxy/7IhReLPyQ7geUSyXJz0aSzujh-LwClYw5OhyFBUvMUfsRcKdTxI0CR3MUsVzAZwxMt9TMkvNoFWd6122eStnMC0RLNHh5LCbCTp6Kck" class="img-fluid img-thumbnail">
</picture>

<div class="text-center">
    <button type="button" class="btn btn-primary">Browse</button>
</div>